# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Nathan\Desktop\Fiverr\Orders\Minecraft Plugin\CommandItems - klausmetin2 - 23-02-2021\Source\CommandItems\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
